@import "../utils/index.css";
@import "../components/HeaderMenu.css";
@import "../components/Profile.css";
@import "../components/Button.css";
@import "../components/Post.css";
@import "../components/Portfolio.css";
@import "../components/SocialMenu.css  ";

.container{
  width: 100vw;
}

#profile{
  margin-top: 33px;
}

#profile .button{
  margin-top: 27px;
  margin-bottom: 40px;
}

#blog-posts{
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#blog-posts h1{
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.posts{
  margin-bottom: 30px;
}
.post{
  margin-bottom: 15px;
}

#portfolio{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

#portfolio h1{
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
}

#social-menu{
  margin-top: 150px;
  text-align: center;
}

.footer{
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 0.875rem;
  color: var(--text-primary);
  text-align: center;
  line-height: 1.3125rem;
}

@media (min-width: 992px){
  .container{
    width: 90vw;
    margin: 0 auto;
  }
  #profile .button{
    margin-top: 47px;
    margin-bottom: 78px;
  }
  #portfolio h1{
    align-self: flex-start;
    margin-left: 80px;
    font-size: 22px;
    line-height: 60px;
    }

  .posts{
    display: flex;
    width: 90%;
    padding: 20px;
    gap: 20px;
  }
  
  .portfolio{
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  #blog-posts h1{
    align-self: flex-start;
    margin-left: 80px;
    font-size: 22px;
    line-height: 60px;
    }
  .portfolio-info{
    display: flex;
    flex-direction: column;
  }
  .portfolio__title{
    font-size: 30px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 0;
  }
  .footer{
    font-size: 14px;
    line-height: 20px;
  }
  
}